<header>
  <h1>'Rental Cars'</h1>
  <h2>'Bem vindo ao sistema de gestão de locação'</h2>
</header>

<%= link_to 'Categorias de Carros', car_categories_path %>
<%= link_to 'Fabricantes', manufacturers_path %>


<%#= 
Comentado para fim de referência!!!
<h1>I18n Playground</h1>

<br/><br/>

  <%= I18n.translate('hello') %> 
  <%#=
  <%= I18n.localize(Time.now) %> 
  <%#=
  <%= number_to_currency(10.0) %>
